<!DOCTYPE html>
<html>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />

    <style>
        table,th,td {
           border: 1px solid black;
        }
     </style>
    <head>
        <title>Supply Chain Optimization</title>

    </head>
    
    <h1>Supply Chain Optimization</h1>
    <form name = "input" action="" onsubmit = "GetFacility();">
        <input type="text" placeholder="Please enter business" name="facility">
        <input type="submit">    
    </form>
    <script>
        function GetFacility(){
            facility = document.input.facility.value
            $.getJSON("facility.json",function(json){
                console.log(json)
                await new Promise(r => setTimeout(r, 2000));
            })
            // console.log(document.input.facility.value);
        }
    </script>



<!-- 

    <form action="{% url 'locate'  'variable' %}" method = "post">
        {% csrf_token %}
        <input type="text" placeholder="Please enter business" name="facility">
        <input type="submit">    
    </form> -->
        <div id='map' width="100%" style='height:500px'></div>
   <script>
     mapboxgl.accessToken = 'pk.eyJ1IjoiYXBhc2lsbGEiLCJhIjoiY2t1YTVid2FjMGRkdDJxbnpnemE5aGc2cCJ9.OVdCYCPGLbboVb3TnG7vJw';
     var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v10',
      //center: [-77.03, 38.91],
      center: [-96.97,32.89],
      zoom:10
     });
    //  console.log("##########")
    //  console.log("html here: " + coordinate)
        // Create a new marker.
        // const marker = new mapboxgl.Marker()
        // .setLngLat(${coordinate},${coordinate})
        // .addTo(map);
    </script>
    <body>
        <script>
        // Create a new marker.
        const marker = new mapboxgl.Marker()
         .setLngLat([-96,33])
         .addTo(map);
        </script>

    </body>
</html>