<!DOCTYPE html>
<html>
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.js'></script>
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.44.2/mapbox-gl.css' rel='stylesheet' />

    <style>
        table,th,td {
           border: 1px solid black;
        }
     </style>
    <head>
        <title>Supply Chain Optimization</title>

    </head>
    <body>
    <h1>Supply Chain</h1>
    <form action="">
        <a href="{% url 'locate'  %}"></a>
        <input type="text" placeholder="Please enter business" name="locate">
        <input type="submit">    
    </form>
        <div id='map' width="100%" style='height:400px'></div>
    <script>
     mapboxgl.accessToken = 'pk.eyJ1IjoiYXBhc2lsbGEiLCJhIjoiY2t1YTVid2FjMGRkdDJxbnpnemE5aGc2cCJ9.OVdCYCPGLbboVb3TnG7vJw';
     var map = new mapboxgl.Map({
      container: 'map',
      style: 'mapbox://styles/mapbox/streets-v10',
      //center: [-77.03, 38.91],
      center: [-96.97,32.89],
      zoom:10
     });
        // Create a new marker.
        const marker = new mapboxgl.Marker()
        .setLngLat({Latitude},{Longitutde})
        .addTo(map);
        </script>
    </script>
    </body>
</html>